[submodule "deps/davids-bikeshed-pure"]
	path = deps/davids-bikeshed-pure
	url = https://github.com/dszakallas/bikeshed-pure.git
[submodule "deps/bikeshed-homelab"]
	path = deps/bikeshed-homelab
	url = https://github.com/dszakallas/bikeshed-homelab.git
[submodule "deps/bikeshed"]
	path = deps/bikeshed
	url = https://github.com/dszakallas/bikeshed.git
