# Managed files
.copilot/mcp-config.json
.agents/mcp_config.json
.gemini/settings.json
.vscode/mcp.json
.agent-shell
.antigravitycli
.mcp.json

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml


