[submodule "deps/davids-dotfiles-common"]
	path = deps/davids-dotfiles-common
	url = https://github.com/dszakallas/dotfiles-common.git
[submodule "deps/davids-bikeshed-pure"]
	path = deps/davids-bikeshed-pure
	url = https://github.com/dszakallas/bikeshed-pure.git
[submodule "deps/bikeshed-homelab"]
	path = deps/bikeshed-homelab
	url = https://github.com/dszakallas/bikeshed-homelab.git
